/*---------------------------------------
    @sidebar
---------------------------------------*/
$sideBarWidth: 265px; // 侧边栏宽度

$sideBarBg: #242939; // 侧边栏背景

$menuTextColor: #989eb3; // 菜单字体颜色
$menuIconColor: #4B5575; // 菜单图标颜色
$menuActiveTextColor: #ffffff; // 菜单选中字体颜色
$menuActiveIconColor:#3699FF; // 菜单选中图标颜色
$menuHoverTextColor: #ffffff; // 菜单悬浮字体颜色
$menuHoverIconColor:#3699FF; // 菜单悬浮图标颜色

$menuHoverBg:#1F2433; // 菜单悬浮背景色
$menuActiveBg: #1F2433; // 菜单选中背景色